
.content-right {
  position: relative;
}
.content-right::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 48%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #2174ea;
}
.timeline-right {
  margin-left: auto;
  position: relative;
  margin-top: 20px;
}
.timeline-right::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -19px;
  height: 100px;
  width: 2px;
  background: #677687;
}
.content-left {
  position: relative;
}
.content-left::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 48%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #2174ea;
}
.timeline-left {
  position: relative;
  margin-top: 20px;
}
.timeline-left::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 529px;
  height: 100px;
  width: 2px;
  background: #677687;
}
.timeline-right h3,.timeline-left h3{
    width: 96%;
}
.timeline-left h4{
    text-align:end;
    margin-right: 80px;
}
.timeline-left h3{
    text-align:center;
}
.timeline-right h4{
    text-align:start;
    margin-left:60px ;
}
.timeline-right h3{
    text-align:center;
}

@media (min-width: 200px) and (max-width: 640px) {
  .content-right,
  .content-left {
    padding-left: 24px;
    margin-top: 28px;
  }

  .content-right::before,
  .content-left::after {
    left: 1px;
    top: 11px;
  }

  .timeline-right,
  .timeline-left {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  .timeline-right::before,
  .timeline-left::after {
    left: -20px;
    top: 20px;
    height: 140px;
  }

  .timeline-right h4,
  .timeline-left h4,
  .timeline-right h3,
  .timeline-left h3 {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 720px) {
  .content-right,
  .content-left {
    padding-left: 30px;
    margin-top: 32px;
  }

  .content-right::before,
  .content-left::after {
    left: 2px;
    top: 14px;
  }

  .timeline-right,
  .timeline-left {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  .timeline-right::before,
  .timeline-left::after {
    left: -24px;
    top: 22px;
    height: 100px;
  }

  .timeline-right h4,
  .timeline-left h4,
  .timeline-right h3,
  .timeline-left h3 {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
