@media (min-width: 200px) and (max-width: 640px) {
  .card-news {
    flex-direction: column;
    gap: 24px;
  }

  .card-news-content {
    width: 100%;
    box-sizing: border-box;
  }

  .card-news-content h2,
  .card-news-content p {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 641px) and (max-width: 720px) {
  .card-news {
    flex-direction: column;
    gap: 28px;
  }

  .card-news-content {
    width: 100%;
    box-sizing: border-box;
  }

  .card-news-content h2,
  .card-news-content p {
    padding-left: 18px;
    padding-right: 18px;
  }
}
